.box {
  background: url(../Hero/images/test2.jpg) 50% / cover no-repeat !important;
  /* background: url(../Hero/images/bigBackground.png) 50% / cover no-repeat !important; */
  margin-top: 10px;
  max-width: 100% !important;
  color: #fff !important;
  padding: 8px;
  display: inline !important;
}
.css-0 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}
.css-1rq2jb8 {
  background: url(../Hero/images/test2.jpg) 50% / cover no-repeat !important;
  /* padding: 70px; */
}
.css-oyk6x7-MuiPaper-root-MuiCard-root {
  color: #fff !important;
}
/* menu  */
.css-1oqqzyl-MuiContainer-root {
  padding: 100px !important;
}
.css-10vcbbr-MuiTypography-root {
  line-height: 1.435;
  letter-spacing: 0.00735em;
  color: #999;
  font-size: 12px !important;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 7px;
}
.css-6ea6hv-MuiPaper-root-MuiCard-root {
  text-align: center;
  /* height: -webkit-fit-content; */
  height: 98%;
}

.css-1sfd9jb-MuiTypography-root {
  margin: 15px;
  font-size: 2rem;
  margin: 12px 0 12px 0;
}
.stackContainer {
  background-color: rgb(24 18 18 / 50%); 
  width: 100%; 
  padding: 20px 0; 
  display: flex; 
  justify-content: center; 
   margin-top: 20px;
}

.logoImgMenu {
  width: 185px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

/* dilog */
.imgDialog {
  width: 200px;
  height: 180px;
}
.css-1yfbvc3-MuiDialogContent-root {
  margin: 0 !important;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
  justify-content: flex-end !important;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover{
  background-color: transparent !important;
}
@media (max-width: 600px) {
  .css-1jv2z0n-MuiStack-root {
    flex-direction: column !important;
  }
  .css-hg8pyb-MuiTypography-root {
    margin-left: 55px !important;
  }
  .css-rh0ojg-MuiTypography-root {
    margin-left: 55px !important;
  }
  .css-m69qwo-MuiStack-root {
    flex-direction: column !important;
    margin-left: 55px;
  }
  .css-m69qwo-MuiStack-root #item-dialog-title {
    margin: 7px 0 7px 0;
  }
  .css-1yfbvc3-MuiDialogContent-root {
    flex-direction: column;
    text-align: center;
  }
  .css-180hdwu-MuiFormControl-root-MuiTextField-root {
    display: flex;
    align-items: center;
  }
}
.css-12rl710-MuiPaper-root-MuiDialog-paper {
  background-color: #000 !important;
  color: #000 !important;
  border: 2px solid yellow;

  border-radius: 20px;
}
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  text-align: center;
  font-size: 36px;
}
.borderItem {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 4px 0 15px 0;
}
.css-12rl710-MuiPaper-root-MuiDialog-paper {
  background-color: #fff !important;
}
#item-dialog-title {
  color: #000 !important;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
  padding: 0;
  font-family: "Dirk";
}

.css-l9gw3y-MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: #000 !important;
  font-size: 9px !important;
}
.css-1hbvpl3-MuiSvgIcon-root {
  color: #000 !important;
}
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 0 !important;
  width: 71% !important;
}
.css-1hhmj95-MuiTypography-root,
.css-uld4ju-MuiTypography-root,
.css-966de2-MuiTypography-root {
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  width: 30px;
  height: 30px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
.css-14t339x-MuiPaper-root-MuiCard-root {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
@media (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 900px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
}
.imgCard {
  width: 150px !important;
}

/*  */
/* YourStyles.css */
